body{
	background-color: #f6e6b4;
	width: 800px;
}

.header{
	text-align: center;
}

.bar {
  background-color: #D8D7D7 ;
  border-radius: 50px;
  height: 35px;
}

.bardalam{
  background-color:#8B8B8B;
  height: 25px;
  border-radius: 50px;
  text-align: center;
  padding-top:10px;
  color: white;
}